<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据关联界面</title>
    <link rel="stylesheet" href="../css/queryDataAss.css">
    <link rel="stylesheet" href="../js/layui/css/layui.css">
</head>
<body>
    <div class="container">
        <div class="da-l">
            <a href="javascript:;" class="a_n aNoClick"  onclick="jumpPage('n')">非物资管理界面</a>
            <a href="javascript:;" class="a_m aNoClick" onclick="jumpPage('m')">物资管理界面</a>
            <a href="javascript:;" class="a_nm aClick" onclick="jumpPage('nm')">数据关联界面</a>
        </div>
        <div class="da-r">
            <div class="da_search">
                <span>标准名称</span>
                <input type="text" class="standard_v" value="">
                <span>非标准名称</span>
                <input type="text" class="nonstandard_v" value="">
                <span>时间</span>
                <input name="da_date" type="text" class="createCode_date_start" id="prev_date" onFocus="WdatePicker({maxDate:'%y-%M-%d',alwaysUseStartDate:true});" value=""/>--
                <input name="ad_date" type="text" class="createCode_date_end" id="behind_data" onFocus="WdatePicker({maxDate:'%y-%M-%d',minDate:'#F{$dp.$D(\'prev_date\')}',alwaysUseStartDate:true});" value="" />
                <span>关联方式</span>
                <select class="assoic">
                    <option value="0">手动</option>
                    <option value="1">自动</option>
                </select>
                <span>准确性</span>
                <select class="check">
                    <option value="-2">所有</option>
                    <option value="0">未判别</option>
                    <option value="1">准确</option>
                    <option value="2">不准确</option>
                </select>
                <span class="oper">关联人</span>
                <input type="text" class="operator" value="">
                <a href="javascript:;" type="button" class="daSearch" onclick="daSearch()">搜索</a>
                <a href="javascript:;"  type="button" data-method='offset' data-type='auto' class="daEx" onclick="daEx()">审核</a>
            </div>
            <table>
                <thead>
                <tr>
                    <td width="75"></td>
                    <td>标准名称</td>
                    <td>非标准名称</td>
                    <td>自动/手动</td>
                    <td>准确性</td>
                    <td>时间</td>
                    <td>关联人</td>
                </tr>
                </thead>
                <tbody class="da_body">
                </tbody>
            </table>
            <div class="list_button">
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../js/queryDataAss.js"></script>
    <script src="../js/jquery.pagination.js"></script>
    <script type="text/javascript" src="../js/layui/layui.js"></script>
</body>
</html>