<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>非标准名称管理</title>
    <link rel="stylesheet" type="text/css" href="../css/queryNoMa.css">
    <link rel="stylesheet" type="text/css" href="../css/queryws.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery.editable-select.min.css">
    <link rel="stylesheet" href="../js/layui/css/layui.css">
</head>
<body>
     <div class="container">
         <div class="nm-l">
             <a href="javascript:;" class="a_n aClick"  onclick="jumpPage('n')">非标准名称管理界面</a>
             <a href="javascript:;" class="a_m aNoClick" onclick="jumpPage('m')">标准名称管理界面</a>
             <a href="javascript:;" class="a_nm aNoClick" onclick="jumpPage('nm')">数据关联界面</a>
         </div>
         <div class="nm-r">
             <input type="file" id="files" style="display:none"/>
             <a href='javascript:;' data-method='offset' data-type='auto' class='showExcel displayNo'></a>
             <a href="javascript:;" type="button" id="import" class="searchBu">导入</a>
             <div class="popup displayNo">
                 <span class="popup_title">提示</span>
                 <span class="popup_con">请选择excel表</span>
                 <a href="javascript:;" type="button" class="popup_sure" onclick="popupSure()">确定</a>
                 <a href="javascript:;" type="button" class="popup_cancel" onclick="popupCancel()">取消</a>
             </div>
             <div class="imSh displayNo">
                 <span class="imSh_title">提示</span>
                 <span class="imSh_con"></span>
                 <a href="javascript:;" type="button" class="imSh_sure" onclick="imShSure()">确定</a>
             </div>
             <a href="javascript:;" type="button" class="deleteAll" onclick="deleteAll()">删除</a>
             <a href="javascript:;" type="button" class="assoic" onclick="assOic()">智能关联</a>
             <a href="javascript:;" type="button" class="omaSearch" onclick="nomaSearch()">搜索</a>
             <div class="r_search">
                 <span>导入人</span>
                 <input type="text" class="importPerson" value="">
                 <span>名称</span>
                 <input type="text" class="nomaName" value="">
                 <span>时间</span>
                 <input name="nomaName_date" type="text" class="createCode_date_start" id="prev_date" onFocus="WdatePicker({maxDate:'%y-%M-%d',alwaysUseStartDate:true});" value=""/>--
                 <input name="nomaName_date" type="text" class="createCode_date_end" id="behind_data" onFocus="WdatePicker({maxDate:'%y-%M-%d',minDate:'#F{$dp.$D(\'prev_date\')}',alwaysUseStartDate:true});" value=""/>
                 <span>批次</span>
                 <input type="text" class="nomaBatch" value="">
                 <span>关联数</span>
                 <select class="noMean" id="noMean">
                     <option value="-1">所有</option>
                     <option value="0">0</option>
                     <option value="1">1</option>
                     <option value="2">2</option>
                 </select>
                 <span>数据来源</span>
                 <select class="source">
                     <option value="0">人工导入</option>
                     <option value="1">数据服务平台</option>
                 </select>
             </div>
             <table>
                 <thead>
                 <tr>
                     <td width="75"></td>
                     <td width="75">批次</td>
                     <td>导入人</td>
                     <td>时间</td>
                     <td width="250">名称</td>
                     <td>数据来源</td>
                     <td width="75">关联数</td>
                     <td width="75">操作</td>
                 </tr>
                 </thead>
                 <tbody class="noman_body">
                 </tbody>
             </table>
             <div class="list_button">
             </div>
         </div>
     </div>
     <div class="excelTable displayNo" id="excelTable">
         <table>
             <thead>
             </thead>
             <tbody>
             </tbody>
         </table>
     </div>
     <div class="con-no-ma displayNo" id="con-no-ma">
             <div class="catalog">
                 <div class="catalogTile">非标准名称、别名</div>
                 <div class="catalogButton">
                     <input type="text" class="searchInput" value="">
                     <a href="javascript:;" type="button" class="searchButton" onclick="searchAdd()">添加</a>
                 </div>
                 <div class="catalogList">
                     <ul>
                     </ul>
                 </div>
             </div>
             <div class="searchResult">
                 <input type="hidden" class="wordHidden" value="">
                 <div class="sr_top">
                 </div>
                 <div class="sr_nm">
                     <p>近义词（可多选）</p>
                     <div class="sr_nm_content">
                     </div>
                 </div>
                 <div class="sr_con">
                     <div class="firstSelect">
                         <div class="divTitle">请选择可能匹配的标准名称</div>
                         <div  class="selectLeft" id="left">
                             <div class="selectLeftContent">
                                 <div class="selectLeftContent_select displayNo">
                                     <input class="left_select" type="text" value="" onclick="">
                                     <a href="javascript:;" type="button" class="left_select_button" onclick="leftSelect()">查询</a>
                                 </div>
                                 <div class="selectLeftContent_show"></div>
                             </div>
                         </div>
                     </div>
                     <div class="sr_con_input">
                         <a type="button" onclick="moveLi(document.getElementById('left'),document.getElementById('right'),true)">>></a>
                         <a type="button" onclick="moveLi(document.getElementById('right'), document.getElementById('left'),false)"><<</a>
                     </div>
                     <div class="secondSelect">
                         <div class="divTitle">匹配到的标准名称</div>
                         <!--<a href="javascript:;" type="button" class="sesButton" onclick="sesAdd()">添加</a>-->
                         <div  class="selectRight" id="right">
                             <div class="selectRightContent">
                                 <div class="selectRightContentAdd">
                                     <p class="tip hide">*该项无法删除</p>
                                 </div>
                                 <div class="selectRightContentShow"></div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
     </div>
     <script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
     <script type="text/javascript" src="../js/queryNoMa.js"></script>
     <script type="text/javascript" src="../js/WdatePicker.js"></script>
     <script type="text/javascript" src="../js/jquery.editable-select.min.js"></script>
     <script type="text/javascript" src="../js/jquery.pagination.js"></script>
     <script type="text/javascript" src="../js/queryws.js"></script>
     <script type="text/javascript" src="../js/layui/layui.js"></script>
     <script type="text/javascript" src="../js/modernizr-2.8.3.js"></script>
     <script type="text/javascript" src="../js/jquery-ui.min.js"></script>
     <script type="text/javascript" src="../js/infragistics.core.js"></script>
     <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2016.2/latest/js/infragistics.lob.js"></script>
     <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2016.2/latest/js/modules/infragistics.documents.core.js"></script>
     <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2016.2/latest/js/modules/infragistics.excel.js"></script>
</body>
</html>
