<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>产品标识代码查询</title>
    <script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../js/queryCodeSearch.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/queryCodeSearch.css">
    <link rel="stylesheet" type="text/css" href="../css/head.css">
    <link rel="stylesheet" type="text/css" href="../css/foot.css">
</head>
<body>
    <div class="loading_Img">
        <div class="loadingImg">
            <img src="../images/loading.gif">
        </div>
    </div>
    <div class="head">
        <div class="head_title">
            <div class="head_show">
                <div class="head_left">
                    <p>欢迎来到某某有限公司</p>
                    <p>客服热线-400-698000</p>
                </div>
                <div class="head_right">
                    <img src="../images/head_1.png">
                    <a>登陆</a>|
                    <a>注册</a>|
                    <a>我的关注</a>|
                    <a>供应商服务<img src="../images/head_2.png"></a>|
                    <a>网站导航<img src="../images/head_2.png"></a>
                </div>
            </div>
        </div>

        <div class="head_logo_nav">
          <div class="head_nav">
               <div class="logo">
                   <div class="logo_img">
                       <img src="../images/head_3.png">
                   </div>
               </div>
               <div class="nav">
                   <ul>
                       <li><a href="queryCodeSearch.html" target="_self" class="product_identify colorClick">产品标识代码查询</a></li>
                       <li><a href="#" class="contract colorNoClick">合同/订单查询</a></li>
                       <li><a href="#" class="serialNumber colorNoClick">序列号查询</a></li>
                       <li><a href="#" class="waybill colorNoClick">运单查询</a></li>
                       <li>
                           <ul>
                               <li><a href="#" class="queryCert colorNoClick">资质查询</a></li>
                               <li><a href="#" class="queryLatestStandard colorNoClick">最新标准查询</a></li>
                               <li><a href="#" class="queryStandard colorNoClick">标准查询</a></li>
                               <li><a href="#" class="queryPrice colorNoClick">价格查询</a></li>
                               <li><a href="#" class="queryPurchaseList colorNoClick">招标采购信息</a></li>
                           </ul>
                       </li>
                   </ul>
               </div>
          </div>
        </div>
    </div>
    <div class="cq">
        <div class="cq_top">
            <form id="cqForm">
                <div class="cq_top_enterpriseName">
                    <label>企业名称</label>
                    <input type="text" name="cqt_enterpriseName" class="cqt_enterpriseName" value="">
                </div>
                <div class="cq_top_productCode">
                    <label>产品标识代码</label>
                    <input type="text" name="cqt_productCode" class="cqt_productCode" value="">
                </div>
                <div class="cq_top_productName">
                    <label>产品名称</label>
                    <input type="text" name="cqt_productName" class="cqt_productName" value="">
                </div>
                <div class="cq_top_specifications">
                    <label>规格型号</label>
                    <input type="text" name="cqt_specifications" class="cqt_specifications" value="">
                </div>
                <div class="cq_top_click">
                    <a type="reset" id="reset_submit" onclick="resetSubmit()">清除</a>
                    <a type="button" id="form_button" onclick="formButton()">查询</a>
                </div>
            </form>
        </div>
        <div class="cq_bottom">
            <table class="cq_table">
                <thead class="cq_thead">
                  <td width="73"></td>
                  <td width="200">企业名称</td>
                  <td>产品标识代码</td>
                  <td>产品名称</td>
                  <td>规格型号</td>
                  <td>计量单位</td>
                  <td>物资编码</td>
                  <td width="200">所属路局/所属采购单位</td>
                  <td width="200">操作</td>
                </thead>
                <tbody class="cq_tbody">

                </tbody>
            </table>
        </div>
        <div class="listperAuth_button">

        </div>
    </div>
    <div class="foot">
        <div class="foot1">
            <a href="javaScript:;">广告服务</a>|
            <a href="javaScript:;">联系我们</a>|
            <a href="javaScript:;">合作伙伴</a>|
            <a href="javaScript:;">法律声明</a>|
            <a href="javaScript:;">关于我们</a>
        </div>
        <div class="foot2">
            <p>**有限公司版权所有 京ICP备14004333号</p>
        </div>
        <div class="foot3">
            <div class="foot3_p">
                <p>请使用IE9以上版本浏览页面</p>
            </div>
        </div>
    </div>
</body>
</html>