*{
    padding:0px;
    margin:0px;
    list-style: none;
    font-size: 12px;
    font-family:'Microsoft Yahei','Arial',Tahoma,'Simsun';
}

em{
    font-style: normal;
}
strong{
    font-weight: normal;
}
li{list-style: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
img{border: none;margin: 0px;padding: 0px;}
ul,ol,p{
    margin: 0px;
}
.container{
    width: 1200px;
    min-height:500px ;
    margin: 0 auto;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
}
.nm-l{
    width: 170px;
    float: left;
    border: 1px solid #eeeeee;
}
.nm-l a{
    width: 155px;
    height: 46px;
    line-height: 46px;
    display: block;
    float: left;
    font-size: 16px;
    border-bottom: 1px solid #eeeeee;
    padding-left: 15px;
}
.aClick{
    color: #4ea0ea;
}
.aNoClick{
    color: #464646;
}

.nm-r {
    float: left;
    width: 1008px;
    margin-left: 20px;
}
.searchBu,.deleteAll,.assoic,.maSearch{
    width: auto;
    height: 25px;
    line-height: 25px;
    margin-left: 10px;
    cursor: pointer;
    color: white;
    padding: 3px 5px;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
}
.searchBu,.assoic{
    background-color: #77afea;
}
.deleteAll{
    background-color: #3cd44a;
}
.maSearch{
    background-color: #f44848;
}
.displayNo{
    display: none;
}
.displayBlock{
    display: block;
}
.da_body p {
    font-size: 18px;
    width: 1007px;
    text-align: center;
    margin-top: 20px;
}
/*閹绘劗銇氬*/
.popup{
    width: 300px;
    height: 160px;
    position: absolute;
    margin: 0px auto;
    top: 100px;
    left: 450px;
    border: 1px solid #77afea;
    background-color: white;
}
.popup span,.popup a{
    display: block;
}
.popup_title{
    width: 280px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    padding-left: 20px;
    background-color: #eeeeee;
}
.popup_con{
    width: 300px;
    text-align: center;
    font-size: 14px;
    margin:20px 0 20px 0;
}
.popup_sure,.popup_cancel{
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    float: left;
    text-decoration: none;
}
.popup_sure{
    background-color: #77afea;
    color: white;
    margin-left: 100px;
}
.popup_cancel{
    background-color: #f0f0f0;
    color: #777777;
    border: 1px solid #bbbbbb;
    margin-left: 20px;
}
.r_search{
    width: 1008px;
    float: left;
    margin-top: 10px;
}
.r_search span{
    width: auto;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 14px;
}
.r_search input[type=text]{
    width: 90px;
    font-size: 14px;
    height: 29px;
    line-height: 29px;
    border: 1px solid #dddddd;
    padding-left: 2px;
    outline: none;
    color: #222222;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: none !important;
}
.maName{
    width: 140px !important;
}
.maBatch{
    width: 40px !important;
    text-align: center;
}
.maMean{
    width: 50px !important;
    text-align: center;
}
.r_search  select{
    height: 29px;
    line-height: 29px;
    font-size: 14px;
    color: #222;
}
/*table*/
table{
    width: 1008px;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 50px;
}
thead{
    width: 1008px;
    font-size: 14px;
    text-align: center;
    background-color: #eeeeee;
}
thead tr, thead td {
    border: 1px solid #dddddd;
    color: black;
    height: 35px;
}
tbody{
    width: 1008px;
    font-size: 12px;
    text-align: center;
}
tbody tr,tbody td {
    border: 1px solid #dddddd;
    border-top: none;
    color: #222222;
}
tbody td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 5px;
}
.maNum,.maBat{
    cursor: pointer;
}
tbody td p {
    width: 12px;
    height: 12px;
    display: block;
    float: left;
    color: #77afea;
    margin-left: 20px;
}
tbody td a {
    width: 12px;
    height: 12px;
    display: block;
    float: left;
    color: #77afea;
    cursor: pointer;
    margin-left: 20px;
}
tbody td span {
    width: 12px;
    height: 12px;
    float: left;
    color: #222222;
    margin-left: 20px;
    margin-top: -2px;
}

.showMean{
    margin-left: 28px !important;
}

.list_button{
    position: relative;
    text-align: center;
    zoom: 1;
    height: 20px;
    float: right;
    line-height: 20px;
    margin-right: 6px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 14px;
}
.list_button a{
    float: left;
    margin: 0 5px;
    width: 35px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    border: 1px solid #ebebeb;
    color: #bdbdbd;
    font-size: 14px;
}
.list_button a:hover{
    color:#fff;
    background: #77afea;
}
.list_button .active{
    float: left;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #77afea;
    color: #fff;
    font-size: 14px;
    border: 1px solid #77afea;
}
.list_button input {
    float: left;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fff;
    border: 1px solid #ebebeb;
    outline: none;
    color: #bdbdbd;
    font-size: 14px;
}
.list_button span{
    display: inline-block;
    float: left;
}

.noclickId,.noBatchId{
    background: url("../images/click_1.png") no-repeat;
}
.clickId,.batchId{
    background: url("../images/click_2.png") no-repeat;
}

.sm{
    width: 290px;
    height: 300px;
    margin: 0 auto;
    background-color: white;
}
.sm .smTitle{
    width: 300px;
    height: 32px;
    line-height: 32px;
    background-color: #77afea;
}
.smTitle p {
    color: white;
    float: left;
    height: 32px;
    line-height: 32px;
    margin-left: 10px;
    font-size: 14px;
}
.smTitle a {
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 8px;
    cursor: pointer;
}
.smCon{
    width:290px;
    height:300px;
}
.smCon ul li{
    width: 279px;
    list-style: none;
    padding-left: 10px;
    line-height: 20px;
    font-size: 14px;
    margin-top: 5px;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.trClick{
    background-color: #f2f2f2;
}

.bodyP{
    width: 1007px;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}