*{
    padding:0px;
    margin:0px;
    list-style: none;
    font-size: 12px;
    font-family:'Microsoft Yahei','Arial',Tahoma,'Simsun';
}

em{
    font-style: normal;
}
strong{
    font-weight: normal;
}
li{list-style: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
img{border: none;margin: 0px;padding: 0px;}
ul,ol,p{
    margin: 0px;
}
.container{
    width: 1200px;
    min-height:500px ;
    margin: 0 auto;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
}
.da-l{
    width: 170px;
    float: left;
    border: 1px solid #eeeeee;
}
.da-l a{
    width: 170px;
    height: 46px;
    line-height: 46px;
    display: block;
    float: left;
    font-size: 16px;
    border-bottom: 1px solid #eeeeee;
    padding-left: 30px;
}
.aClick{
    color: #4ea0ea;
}
.aNoClick{
    color: #464646;
}
.da-r{
    float: left;
    width: 1008px;
    margin-left: 20px;
}
.da_search{
    width: 870px;
    float: left;
    margin-top: 10px;
}
.da_search span{
    width: auto;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 14px;
}
.da_search input[type=text]{
    width: 90px;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #dddddd;
    padding-left: 2px;
    outline: none;
    color: #222222;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.da_search select {
    height: 29px;
    line-height: 29px;
    font-size: 14px;
    color: #222;
}
.oper{
    margin-left:13px;
    display:inline-block;
    margin-top:10px
}
.daSearch,.daEx{
    width: auto;
    height: 25px;
    line-height: 25px;
    margin-left: 10px;
    cursor: pointer;
    color: white;
    padding: 5px 5px;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
}
.daSearch{
    background-color: #77afea;
}
.daEx{
    background-color: #3cd44a;
}

/*table*/
table{
    width: 1008px;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 90px;
}
thead{
    width: 1008px;
    font-size: 14px;
    text-align: center;
    background-color: #eeeeee;
}
thead tr, thead td {
    border: 1px solid #dddddd;
    color: black;
    height: 35px;
}
tbody{
    width: 1008px;
    font-size: 12px;
    text-align: center;
}
tbody tr,tbody td {
    border: 1px solid #dddddd;
    border-top: none;
    color: #222222;
}
tbody td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 5px;
}
.daNum{
    cursor: pointer;
}
tbody td a {
    width: 12px;
    height: 12px;
    display: block;
    float: left;
    color: #77afea;
    cursor: pointer;
    margin-left: 20px;
}
tbody td span {
    width: 12px;
    height: 12px;
    float: left;
    color: #222222;
    margin-left: 20px;
    margin-top: -2px;
}

/*分页*/
.list_button{
    position: relative;
    text-align: center;
    zoom: 1;
    height: 20px;
    float: right;
    line-height: 20px;
    margin-right: 6px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 14px;
}
.list_button a{
    float: left;
    margin: 0 5px;
    width: 35px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    border: 1px solid #ebebeb;
    color: #bdbdbd;
    font-size: 14px;
}
.list_button a:hover{
    color:#fff;
    background: #77afea;
}
.list_button .active{
    float: left;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #77afea;
    color: #fff;
    font-size: 14px;
    border: 1px solid #77afea;
}
.list_button input {
    float: left;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fff;
    border: 1px solid #ebebeb;
    outline: none;
    color: #bdbdbd;
    font-size: 14px;
}
.da_body p {
    font-size: 18px;
    width: 1007px;
    text-align: center;
    margin-top: 20px;
}
.de_delete{
    position: absolute;
    right: 5px;
    top: 8px;
}
.noclickId{
    background: url("../images/click_1.png") no-repeat;
}
.clickId{
    background: url("../images/click_2.png") no-repeat;
}

.displayNo{
    display: none;
}
.displayBlock{
    display: block;
}

.trClick{
    background-color: #f2f2f2;
}
.layui-layer-content{
    text-align: center;
}

.bodyP{
    width: 1007px;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}