*{
    padding:0px;
    margin:0px;
    list-style: none;
    font-size: 12px;
    font-family: 'Arial','Microsoft Yahei',Tahoma,'Simsun';
}
em{
    font-style: normal;
}
strong{
    font-weight: normal;
}
li{list-style: none;}
a{text-decoration: none;}
img{border: none;margin: 0px;padding: 0px;}

.select_content{
    width:1200px;
    height:auto;
    margin: 0px auto;
}
.selectBody,.selectNewBody{
    width: 500px;
    height: auto;
    float:left;
}
.selectNewBody{
    margin-left:200px;
}
.selectBody p,.selectNewBody p{
    width: 500px;
    font-size: 20px;
    margin-top: 30px;
}
.selectSerch,.selectNewSerch{
    width: 500px;
    height: 36px;
    margin-top: 20px;
}
.seaInput,.seaNewInput{
    border: 1px solid #dddddd;
    color: #222222;
    width: 441px;
    height: 34px;
    line-height: 36px;
    padding-left: 5px;
    float: left;
    font-size: 16px;
}
.seaNewInput{
    width: 491px !important;
}
.search_a_btn,.search_an_btn{
    width: auto;
    float: left;
    display: block;
    height: 36px;
    line-height: 36px;
    background-color: #f44848;
    color: white;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
}

.selectContent,.selectNewContent{
    width: 500px;
    height: auto;
    margin-top: 5px;
}
.selectContent a,.selectNewContent a{
    color: red;
    border-bottom-style: dotted;
    border-bottom-color: black;
    cursor: pointer;
    font-size:16px;
}

.synonym,.synonymNew{
    width: auto;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    font-size: 14px;
}
.selecShow,.selecNewShow{
    width: 490px;
    height: auto;
    border-top: 1px solid #dddddd;
    margin-bottom: 20px;
    font-size: 16px;
    padding-left: 10px;
    overflow: hidden;
}
.selecShow a{
    font-size:16px;
    color: red;
}
